.images {
    display: flex;
    flex-wrap: wrap;
   
}

.illustration {
    max-width: 25%;
  
}

.illustration img {
    width: 100%;
    height: 100%;
}


.agrandir {
    width: auto;
    height: 100px;
    margin: 0 auto;
    transition: transform .4s;
   }
   
   .agrandir:hover {
    transform: scale(2.5);
   }

span{
    font-size:20px
}
   